body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;

}
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header img {
    height: 40px; 
    margin: 0px;
    float: left;
}

.navigation-left {
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
}
.navigation-left a{
    margin-right: 20px;
    margin-left: 20px;
}

.navigation-right {
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
.navigation-right a{
    margin-right: 40px;
}

.main_image{
    width: 100%;
    height:480px;
}
.main {
    display: flex;
    background:url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Multi-Canvas-Bing-AI-No-Text:VP2-859x540') no-repeat;
    background-size: contain;
    background-position: right center;
    background-color: #0067b8;
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    align-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;

}  

.info {
    margin-left: 10%;
    text-align: left;
    color: #f8f8f8;
}

.main h2{
    margin-top: 100px;
    margin-left: 10%;
    text-align: left;
    color: #f8f8f8;
}

.bing-button{
    margin-left: 10%;
}

.bing-button button {
    background-color: rgb(31, 208, 208);
    color: #f8f8f8;
    border-color: #f8f8f8;
}

.card img{
    justify-content: baseline;
    justify-content: space-between;
    justify-content: center;
    width:100%;
    height: 159.39px;
}
.card{
    display: flex;
    display: inline-block;
    width: 23.3%;
    height: 359.19px;
    margin-left: 12px;
    margin-right: 10px;
    
}
.card p{
    width:267.48px;
    margin-bottom: 10px;
}
.card a{
    margin-top: 10px;
    color: #0067b8;
}
.card h2{
    width:267.48px;
    height:58px;
}
.cards{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height:359.19px;
    margin-bottom: 30px;
}